*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --bg-color: #FFF;
  --bg-second-color: #000389;
  --primary-color: #9FBBEA;
}

body {
  margin-left: 2%;
  margin-right: 2%;
  background-color: var(--bg-second-color);
}

.title_order {
  text-align: center;
  margin: 10px 0px;
  color: var(--bg-color);
}

form {
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 20px 10px;
  background-color: var(--bg-color);
}

fieldset {
  margin-bottom: 30px;
  background-color: var(--primary-color);
}

.sub_title {
  margin: 10px 18px;
  font-size: 14px;
  font-weight: normal;
}

span {
  color: red;
}

.row_first {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px;
}

textarea {
  border-radius: 4px;
}

.row_first input {
  height: 30px;
  width: 420px;
  border: none;
  border-radius: 4px;
  padding-left: 8px;
}

.inputbox select {
  height: 30px;
  width: 420px;
  border: none;
  border-radius: 4px;
  padding-left: 8px;
}

.row_res {
  display: flex;
  padding: 10px 8px;
  gap: 24px;
}

.row_res input {
  height: 30px;
  width: 420px;
  border: none;
  border-radius: 4px;
  padding-left: 8px;
}

.cont {
  display: flex;
  gap: 24px;
}

.cont input {
  height: 30px;
  width: 605px;
}

.col_marca {
  margin-top: 18px;
}

.col_marca input {
  height: 30px;
  width: 170px;
}

form h3 {
  font-size: 12px;
  font-weight: normal;
}

.col_marca .text_area_1 {
  padding-top: 9px;
}

.col_marca .text_area_2 {
  margin-top: 18px;
}

.col_marca .text_area_3 {
  margin-top: 22px;
}


.produtos_pecas {
  display: flex;
  margin: 8px;
  gap: 50px;
}

.produtos_pecas input {
  height: 30px;
  width: 168px;
  border: none;
  border-radius: 4px;
  padding-left: 4px;
}

.row_button {
  display: flex;
  justify-content: center;
}

.container_form button {
  justify-self: center;
  width: 200px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--bg-color);
  background-color: var(--bg-second-color);
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
}

footer {
  background-color: burlywood;
}