*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 100%; */
  /* max-width: 1200px; */
  margin: auto;
  border-radius: 20px;
}

.ordens-de-servicos {
  width: 100%;
}

.container {
  display: none;
  margin-left: 220px;
  margin-top: 10px;
  border-radius: 40px;
  transition: all ease .5s;
  background-color: #FFF;
}

.ordens-de-servicos .services-title-img{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 50px;
  background-color: #9FBBEA;
  color: #FFF;
  display: flex;
  align-items: flex-end;
}
.services-title-img h1 {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.services-title-img img  {
  height: 24px;
  width: 24px;
  margin-left: 2%;
}